* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 11, 11);
    color: whitesmoke;
}

.searchContainer {
   margin: 0 auto;
   width: 60%;
   background-color: #151515;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 6px;
    border: none;
    color: whitesmoke;
    background-color: #2f2f2f;
}

@media only screen and (max-width: 1000px) {
    .searchContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .searchContainer {
        width: 90%;
    }
}